<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @registration.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @registration.lastname %>
</p>

<p>
  <b>Email:</b>
  <%= @registration.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @registration.phone %>
</p>

<p>
  <b>Dateofbirth:</b>
  <%= @registration.dateofbirth %>
</p>

<p>
  <b>Address:</b>
  <%= @registration.address %>
</p>


<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
